* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.navbar {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
}

.card-list {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.user-card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 1rem;
    border-radius: 1rem;
}

.user-card-image {
    width: 100%;
    border-radius: 0.8rem 0.8rem 0 0;
}


/* Pagintion container */
.page-container {
    display: flex;
    width: 100px;
    margin: auto;
}

.page-container > button {
    padding: 0.5rem 0.7rem;
    margin-right: 1rem;
    cursor: pointer;
}