* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.navbar {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
}

body {
    text-align: center;
}
.navbar > a {
    text-decoration: none;
}

.user-form {
    width: 500px;
    margin: auto;
    margin-top: 3rem;
}

.user-form > * {
    margin-top: 1rem;
}

.user-form > div > label {
    /* display: block; */
}